APP_NAME="Laravel"
APP_ENV=local
APP_KEY=e4b210a2da6becfb822b8ec615a689df
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=svc-saques-mysql
DB_PORT=3306
DB_DATABASE=saques
DB_USERNAME=appuser
DB_PASSWORD=secret

AMQP_DEFAULT_VHOST=/
AMQP_HOST=svc-saques-rabbitmq
AMQP_USERNAME=guest
AMQP_PASSWORD=guest
AMQP_PORT=5672

QUEUE_CONNECTION=async
QUEUE_MODE=ASYNC

SESSION_DRIVER=file

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
